<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Application Sent!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p >
      Hello, <span th:text="${name}"></span>
    </p>
    <p>
      You have been successfully applied to the <b th:text="${jobName}">Posisi</b> on
      <span th:text="${jobDate}"></span>
    </p>
    <p>
      Please be patient while you wait for the employer to check on your application and who knows, they might be interested in you!
    </p>
    <p>
      Regards, <br />
      <em>The YukKerja Team</em>
    </p>
  </body>
</html>